<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae elit eget tellus efficitur dictum at vitae mi. Suspendisse felis risus, pellentesque eleifend neque vel, bibendum viverra risus. Donec ac enim vitae neque maximus hendrerit. Ut auctor tempus ultricies. Suspendisse euismod erat quis justo egestas, nec maximus ante ultricies. Phasellus ac sem sit amet tellus maximus ultricies. Sed sed dui rhoncus, molestie tellus at, facilisis augue. Duis aliquam, ipsum ac gravida pharetra, purus nisl dictum ante, vitae iaculis nisl odio eget nibh. Nam ante est, tincidunt ut tristique nec, mollis et eros. Donec egestas vel mi nec mollis.

                Nullam mattis rutrum urna, id iaculis magna consequat a. Suspendisse vitae nisl non libero hendrerit condimentum quis eget lorem. Nam consectetur ut leo eu viverra. Etiam fringilla vel dolor nec interdum. Donec lacus neque, fringilla a nisi vel, finibus ullamcorper dolor. Praesent faucibus, justo vulputate hendrerit sodales, urna nulla tincidunt sapien, sit amet dapibus ante purus in dolor. In gravida mattis vestibulum. Praesent turpis mauris, tempus in arcu non, rutrum dignissim tortor. Nunc nulla felis, tempus aliquam iaculis vitae, ullamcorper sed dolor. Vivamus vitae diam fringilla, vehicula felis sit amet, dictum dui. In hac habitasse platea dictumst.</p>
            <a href="#/log-time">
                <button >
                    Continue
                </button>
            </a>
        </div>
    </div>
    <hr>
</div>